.app-footer {
  padding: 1.5rem; 

  text-align: center;
  font-size: 0.875rem; 

  background-color: #06151e;
  color: #ffffff;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  line-height: 1.4;
}
